.Activities {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    overflow: auto;
    margin-left: .5rem;
    margin-right: .5rem;
}

.Activities__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
